/*css for common elements*/
html {
    height:100%;
}

body {
    margin:0;
    height:100%;
}

/*css for home page*/

/*css for registration*/
.RegP-btn /*按钮属性*/{
    background-color:rgb(255, 255, 255) ;
    height: 24px;
    border-radius: 20px;
    line-height: 5px;
    width: 150px;
    color: #080808;
    font-size: small;
    border-style: none;
    display: block;
    margin: auto;
}
.RegP-centertext{
    text-align: center  
    
}
.RegP-inform{
    width: 250px;
    margin: auto;
    left:0;
    right:0;
    bottom: 0;
    top:0;
}
.RegP-color{
    background-color: #00000000;
    color: azure;
}
.RegP-color2{
    background-color: #000000;
    color: azure;
}
.RegP-form{
    font-size: small;
    position: absolute;
    right: 105px;
    margin: 20px;
    max-width: 380px;
    padding: 16px;
}
.RegP-inputstyle{
    border-radius:10px; 
    background-color: rgba(0, 0, 0, 0);
    height: 30px;
    font-size: small;
}
.RegP-checkboxstyle{
    border-radius:10px; 
    background-color: rgba(90, 42, 220, 0);
    border-color: azure;
    font-size: small;
    
}
.-Backgrougimage{
    font-size: small;
}
.Regp-labelstyle{
    font-size: 12px;
    color: azure;
}

RegP-floatinglabelstyle{
    font-size: 12px;
    background-color: #000000;
    color: azure;
}
.RegP-floatinginputstyle{
    border-radius:10px; 
    background-color: rgba(0, 0, 0, 0);
    height: 30px;
    font-size: small;
    color: #000000;
}
/*css rental page*/

#renp-body {
    text-align: center;
}

#renp-title-sec {
    margin-top:200px;
    text-align: center;
}

#renp-title {
    color:white;
    text-align: center;
}

#renp-tab {
    margin: auto;
    border: none;
}

#renp-main {
    text-align: center;
    margin-top:20%;
}

#renp-tabcontent {
    background-color: white;
    width:80%;
    margin:auto;
}

#renp-notebook_list {
    width:60%;
    margin-left: 120px;
    
}

#renp-others_list {
    width:60%;
    ;
}

#renp-backgroundpic {
    width:51%;
    margin:auto;
}

#renp-bottom-characters {
    margin-top: -250px;
}

#renp-others-pages{

    margin-left: auto;
}

/*css for detail page*/

/*css for management login page*/

#mlp-main {
    background-image: url("../img/homepage-background.jpg");
    background-size: 100% 100%;
}

#mlp-main {
    height:100%;
}

#mlg-background {
    height:100%;
}

#mlp-loginwindow {
    position:fixed;
    top:28%;
    left:38%;
    right:40%;
    background-color:rgb(131, 130, 130);
    height:450px;
    width:500px;
}

#mlp-login {
    color:white;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 50px;
    font-size: larger;
}

#mlp-table {
    border-collapse:separate; 
    border-spacing:10px 50px; 
}

.mlp-input {
    border-radius: 8px;
}

#mlp-back {
    color: white;
    background-color:rgb(131, 130, 130);
    border: none;
    float:right;
}

#mlp-buttonline {
    text-align: center;
}

.mlp-button {
    display:block;
    margin:0 auto;
}

#mlp-sendcode {
    background-color:white;
    width:150px;
    border-radius: 8px;
}

#mlp-submit {
    background-color:white;
    height:35px;
    border-radius: 8px;
}

/*css for management page*/

#mp-topbar {
    background-color: rgb(0, 0, 0);
    padding: 15px 16px;
    height: 20px;
    margin: 0px;
}

#mp-mune {float: left;max-width: auto;height: 25px;margin: 0 7px;}
#mp-utaslogo {float: left;max-width: auto;height: 29px;}

#mp-divice {
    height:100%;
}

#mp-device-row {
    height:100%;
}

#mp-icon-div {
    margin:1%;
}

#mp-iframe {
    margin-left: 1%;
    margin-right:1%;
    margin-top: 1%;
    height:760px;
    background-color: white;
}

#mp-listgroup {
    width:92%;
}

#mp-devicedetail {
    position:absolute;
    top:105px;
    background-color: white;
    height:760px;
    width:56%;
}

#mp-devicecontent {
    margin-top:3%;
    padding-left:10%;
}

#mp-pic {
    margin-left:0;
    margin-top: 0;
}

.tab-content {
    width:100%;
    height:97%;
    margin:1%;
    background-color:rgb(229, 229, 229);
}

#mp-devie {
    text-align: center;
    height:100%;
}

.mp-devices {
    list-style-type: none;
}