/*css for common elements*/
html {
    height:100%;
}

body {
    margin:0;
    height:100%;
}

/*css for home page*/

/*css for registration*/

/*css rental page*/

/*css for detail page*/

/*css for master page*/

.mp-divlist {
    list-style-type: none;
    display:block;
    margin:10px;
}

#mp-topbar {
    background-color: rgb(0, 0, 0);
    padding: 15px 16px;
    height: 20px;
    margin: 0px;
}

.mp-mune {float: left;max-width: auto;height: 25px;margin: 0 7px;}
.mp-utaslogo {float: left;max-width: auto;height: 29px;}
.mp-user {float:right;max-width: auto;height: 25px;}

#mp-grid {
    height:100%;
}

.mp-FI {float: left;max-width: auto;height: 25px;margin: 0 7px;}

#mp-functions {
    line-height: 3;
    margin:0 auto;
}

#mp-SecH {
    margin-left: 20px;
}

#mp-sections {
    background-color: rgb(245,245,245);
}

#mp-rightside {
    height:100%;
    margin:0px;
}

#mp-rightsecs {
    height:100%
}

#mp-devicelist {
    background-color: rgb(229,229,229);
}

#mp-select {
    margin-left:85%;
    background-color: rgb(229,229,229);
    border:none;
    margin-top:15px;
    margin-bottom: 20px;
}

#mp-headOfMDL {
    border-bottom:2px solid black;
    width:100%;
    height:8%;
    margin:0px;
}

#mp-righttitle {
    margin-top: 2%;
}

#mp-devicebutton {
    float:right;
    margin-right:px;
    margin-top:5px;
}

#mp-iframe {
    margin-left: 0%;
}

.mp-edit {
    margin:3px;
    background-color: rgb(229,229,229);
    border:none;
    border-radius: 5px;
    width:80px;
}

#mp-textinfo {
    margin-top:30px;
}

.mp-inforaw {
    width: 175px;
}

#mp-pic {
    margin-left:0;
    margin-top: 0;
}